<ion-header [translucent]="true">
  <nav class="navbar">
    <h1>Status Mahasiswa</h1>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <body>
    <ion-searchbar color="dark" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
    <div class="table-responsive table-white">
    <table class="table">
      <thead>
        <tr class="table-white">
          <th class="table-white">No</th>
          <th class="table-white">Reg ID</th>
          <th class="table-white">email</th>
          <th class="table-white">Nama</th>
          <th class="table-white">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allData" class="table-white">
          <td class="table-white" >{{ data.no }}</td>
          <td class="table-white">{{ data.reg_id }}</td>
          <td class="table-white">{{ data.email }}</td>
          <td class="table-white">{{ data.nama_lengkap }}</td>
          <td class="table-white">
            <span *ngIf="data.status === '0'" class="badge text-bg-warning"
              >Menunggu Verifikasi</span
            >
            <span *ngIf="data.status === '1'" class="badge text-bg-success"
              >Verifikasi Pendaftaran OK</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
  </body>
</ion-content>
