<ion-header [translucent]="true">
  <nav class="navbar">
    <h1>Informasi Alur Pencairan Fee</h1>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <body>
      <div class="timeline">
        <div class="container">
          <ion-icon name="document-text"></ion-icon>
          <div class="title-box">
            <h4>Data Pendaftaran</h4>
          </div>
          <div class="text-box">
            <p><strong style="color: #3498db;">Pengecekan nominal fee pendaftaran </strong>dapat dicek melalui menu <strong>Data Pendaftaran.</strong></p><br>
            <p>Pastikan terdapat jumlah jumlah fee pendaftaran.</p>
          </div>
        </div>
        
        <div class="container">
          <ion-icon name="document-text"></ion-icon>
          <div class="title-box">
            <h4>Konfirmasi ke bagian BAUM</h4>
          </div>
          <div class="text-box">
            <p><strong style="color: #3498db;">BAUM </strong>silahkan anda untuk konfirmasi dengan menunjukann daftar data pendaftaran dengan status <strong style="color: #3498db;">"Verifikasi Pendaftaran Ok."</strong></p><br>
          </div>
        </div>

        <div class="container">
          <ion-icon name="document-text"></ion-icon>
          <div class="title-box" style="background-color: #e74c3c;">
            <h4>Proses Pencairan Selesai</h4>
          </div>
        </div>
      </div>    
      <br><br><br><br><br>
  </body>
</ion-content>
