<ion-header [translucent]="true">
  <nav class="navbar">
    <h1>Informasi Alur PMB</h1>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <body>
    <div class="timeline">
      <div class="container">
        <ion-icon name="document-text"></ion-icon>
        <div class="title-box">
          <h4>Pendaftaran</h4>
        </div>
        <div class="text-box">
          <p><strong style="color: #3498db;">Kegiatan Pemdaftaran </strong>dapat dilakukan <strong>tanggal 2 januari s/d 31 agustus 2022</strong></p><br>
          <p>Pembiayaan sebesar Rp. 300.000,00.</p>
        </div>
      </div>

      <div class="container">
        <ion-icon name="document-text"></ion-icon>
        <div class="title-box">
          <h4>Mengikuti Tes Potensial Akademik dan Wawancara</h4>
        </div>
        <div class="text-box">
          <p><strong style="color: #3498db;">Tes Potensial Akademik (TPA) </strong>Kegiatan ini dilakukan untuk mengetahui kopetensi pengetahuan umum dimana ada 3 jenis pertanyaan diantaranya <strong>logika, matematika, dan umum, </strong><strong style="color: #3498db;">TPA </strong>dilakukan menggunakan berbasis kompute yang diselenggarakan offline/online. <strong style="color: #3498db;">Wawancara</strong> kegiatan ini dilakukan untuk mengetahui minat dan bakat calon mahasiswa.</p>
        </div>
      </div>

      <div class="container">
        <ion-icon name="document-text"></ion-icon>
        <div class="title-box">
          <h4>Pengumuman Hasil TPA dan Melakukan Biaya Daftar Ulang</h4>
        </div>
        <div class="text-box">
          <p><strong style="color: #3498db;">Kegiatan daftar ulang </strong>bisa dilakukan secara <strong>online</strong> atau <strong>offline.</strong></p><br>
          <p>Setelah ada pengumuman mengenai lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa yang <strong>dinyatakan lolos</strong> dapat langsung melakukan kegiatan daftar ulang.</p>
        </div>
      </div>

      <div class="container">
        <ion-icon name="document-text"></ion-icon>
        <div class="title-box" style="background-color: #e74c3c;">
          <h4>Melakukan Kegiatan Pra-Studi</h4>
        </div>
        <div class="text-box">
          <p><strong style="color: #3498db;">Pelaksanaan kegiatan pra-studi </strong>Dilaksanakan di 1 lokasi ].</p><br>
          <p>Fakultas Informatika dan Komputer dilaksanakan di<strong> gedung kampus mayor oking.</strong></p>
        </div>
      </div>
      
    </div>    
    <br><br><br><br><br>
  </body>
</ion-content>
